<footer class="footer">
  <div class="container text-center">
    <!-- <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.instagram.com/_techbit_/" target="_blank" rel="tooltip" title="Follow me on Instagram">
            <i class="fa fa-instagram"></i>
        </a>
        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/vikas-2jan/" target="_blank" rel="tooltip" title="Follow me on Linkedin">
            <i class="fa fa-linkedin"></i>
        </a>
        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/vikas8452" target="_blank" rel="tooltip" title="Follow me on Github">
            <i class="fa fa-github"></i>
        </a>
         -->
    <a
      class="cc-facebook btn btn-link"
      href="https://www.instagram.com/_____s.h.r.u.t.i_____/"
      target="_blank"
      rel="tooltip"
      title="Follow me on Instagram"
    >
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a
      class="cc-linkedin btn btn-link"
      href="https://www.linkedin.com/in/shruti-rai-27090a1b0/"
      target="_blank"
      rel="tooltip"
      title="Follow me on Linkedin"
    >
      <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>

    <!-- <a
      class="cc-github btn btn-link"
      href="https://github.com/vikas8452"
      target="_blank"
      rel="tooltip"
      title="Follow me on Github"
    >
      <i class="fa fa-github" aria-hidden="true"></i>
    </a> -->
  </div>
  <div class="text-center text-muted">
    <p>&copy; All rights reserved.</p>
  </div>
</footer>
