<div class="section" id="experience">
  <div class="container py-2 cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="row">
      <ul class="timeline">
        <li>
          <!-- <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div> -->
          <div class="timeline-panel">
            <div class="row">
              <div style="padding: 10px 30px 5px 50px" class="col-lg-12">
                <div class="h5 mt-0 title bold">Software Engineer</div>
                <div class="h6 mt-0 title">
                  Games24x7, Bangalore, Karnataka (2021-10 - Present)
                </div>
                <ul>
                  <li>Backend Developer</li>
                </ul>
              </div>
              <div style="padding: 5px 30px 10px 50px" class="col-lg-6">
                <ul>
                  <!-- <li class="list">Core Functionality</li> -->
                  <!-- <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Application Development</li>
                  </ul> -->
                  <li class="list mt-3">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Spring Boot</li>
                        <li class="non_list">Java</li>
                        <li class="non_list">Redis</li>
                        <li class="non_list">Kafka</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Git</li>
                        <li class="non_list">MongoDB</li>
                        <li class="non_list">Lua</li>
                        <li class="non_list">AWS</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li>
          <!-- <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div> -->
          <div class="timeline-panel">
            <div class="row">
              <div style="padding: 10px 30px 5px 50px" class="col-lg-12">
                <div class="h5 mt-0 title bold">Analyst (Java Developer)</div>
                <div class="h6 mt-0 title">
                  Goldman Sachs, Bangalore, Karnataka (2021-05 - 2021-10)
                </div>
                <ul>
                  <li>
                    Designed and developed forward-thinking systems that meet
                    user needs and improve productivity.
                  </li>
                  <li>
                    Migrated and deployed existing system website to progressive
                    web app.
                  </li>
                  <li>
                    Develop some automated system as per business requirements.
                  </li>
                </ul>
              </div>
              <div style="padding: 5px 30px 10px 50px" class="col-lg-6">
                <ul>
                  <!-- <li class="list">Core Functionality</li> -->
                  <!-- <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Application Development</li>
                  </ul> -->
                  <li class="list mt-3">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Spring Boot</li>
                        <li class="non_list">Java</li>
                        <li class="non_list">React</li>
                        <li class="non_list">RabbitMQ</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Git</li>
                        <li class="non_list">HTML/CSS</li>
                        <li class="non_list">MySQL</li>
                        <li class="non_list">Redis</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <!-- <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div> -->
          <div class="timeline-panel">
            <div class="row">
              <div style="padding: 10px 30px 5px 50px" class="col-lg-12">
                <div class="h5 mt-0 title bold">Software Engineer</div>
                <div class="h6 mt-0 title">
                  Extramarks, Noida, Uttar Pradesh (2020-01 - 2021-05)
                </div>
                <ul>
                  <li>Working on Backend (Springboot) / Frontend (Angular)</li>
                  <li>
                    Performed well in completing many challenging task both in
                    Frontend/Backend with team.
                  </li>
                  <li>
                    Used existing DS/Algo skills to solve real-world problems.
                  </li>

                  <li>
                    Contributed ideas and suggestions in team meetings and
                    delivered updates on deadlines, designs and enhancements
                  </li>
                </ul>
              </div>
              <div style="padding: 5px 30px 10px 50px" class="col-lg-6">
                <ul>
                  <!-- <li class="list">Core Functionality</li> -->
                  <!-- <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Application Development</li>
                  </ul> -->
                  <li class="list mt-3">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Spring Boot</li>
                        <li class="non_list">Java</li>
                        <li class="non_list">Angular</li>
                        <li class="non_list">TypeScript</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Node</li>
                        <li class="non_list">Git</li>
                        <li class="non_list">HTML/CSS</li>
                        <li class="non_list">MySQL</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
