<div class="section" id="publications">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Projects</div>
    <div class="card">
      <div class="row">
        <!-- <div
          style="text-align: center"
          class="col-md-3"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div style="margin: auto" class="card-body">
            <a
              target="_blank"
              href="https://play.google.com/store/apps/details?id=com.hostelmanager.quizhackk&hl=en_IN&gl=US"
            >
              <img
                border="0"
                alt="QuizHacker"
                src="assets/images/quizhacker.png"
                width="200"
                height="200"
              />
            </a>
          </div>
        </div> -->
        <div
          class="col-md-12"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <!-- <div
            style="
              background-image: url(assets/images/sr-bg-1.png);
              background-repeat: no-repeat;
              background-position: center;
              position: relative;
            "
          ></div> -->

          <div class="card-body">
            <mat-nav-list>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <div class="three">
                    <h1>Advertisements & Promotions</h1>
                  </div>
                </mat-expansion-panel-header>
                <p class="primary">
                  Advertisement related to fast food. Created considering the
                  theme of the company and the context of the ad.
                </p>
                <strong>Software Used</strong>: Adobe Photoshop

                <div style="text-align: center; margin: 50px">
                  <img class="rcorners1" src="assets/images/promotions-2.png" />
                </div>

                <!-- <div class="h5 mb-3">Advertisements & Promotions</div> -->
                <div style="text-align: center; margin: 50px">
                  <img class="rcorners1" src="assets/images/promotions-1.png" />
                </div>

                <div style="text-align: center; margin: 50px">
                  <img class="rcorners1" src="assets/images/promotions-3.png" />
                </div>

                <div style="text-align: center; margin: 50px">
                  <img class="rcorners1" src="assets/images/promotions-4.png" />
                </div>
              </mat-expansion-panel>
            </mat-nav-list>

            <mat-nav-list>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <div class="three">
                    <h1>Visiting Card</h1>
                  </div>
                </mat-expansion-panel-header>
                <div style="text-align: center; margin: 50px">
                  <img
                    class="rcorners1"
                    src="assets/images/visiting-card-1.png"
                  />
                </div>

                <!-- <div class="h5 mb-3">Advertisements & Promotions</div> -->
                <div style="text-align: center; margin: 50px">
                  <img
                    class="rcorners1"
                    src="assets/images/visiting-card-2.png"
                  />
                </div>

                <div style="text-align: center; margin: 50px">
                  <img
                    class="rcorners1"
                    src="assets/images/visiting-card-3.png"
                  />
                </div>
              </mat-expansion-panel>
            </mat-nav-list>

            <mat-nav-list>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <div class="three">
                    <h1>NewsPaper</h1>
                  </div>
                </mat-expansion-panel-header>
                <p class="primary">
                  <strong>Name:</strong> City Bulletin It has 8 colums with a
                  gutter space of 3.5mm. The name I chose was
                  <strong>“City Bulletin”</strong>, it is local city oriented
                  newspaper.
                </p>
                <strong>Software Used</strong>: Indesign
                <div style="text-align: center; margin: 50px">
                  <img class="rcorners2" src="assets/images/newspaper-1.png" />
                </div>

                <!-- <div class="h5 mb-3">Advertisements & Promotions</div> -->
                <div style="text-align: center; margin: 50px">
                  <img class="rcorners1" src="assets/images/newspaper-2.png" />
                </div>
              </mat-expansion-panel>
            </mat-nav-list>

            <mat-nav-list>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <div class="three">
                    <h1>Typography</h1>
                  </div>
                </mat-expansion-panel-header>
                <p class="primary">
                  Created human face using Typography Wordplay.
                </p>
                <strong>Software Used</strong>: Adobe Illustrator

                <div style="text-align: center; margin: 50px">
                  <img class="rcorners2" src="assets/images/typography-1.png" />
                </div>

                <!-- <div class="h5 mb-3">Advertisements & Promotions</div> -->
                <div style="text-align: center; margin: 50px">
                  <img class="rcorners2" src="assets/images/typography-2.png" />
                </div>
              </mat-expansion-panel>
            </mat-nav-list>

            <mat-nav-list>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <div class="three">
                    <h1>Poster</h1>
                  </div>
                </mat-expansion-panel-header>
                <p class="primary">Music Concert Poster</p>
                <strong>Software Used</strong>: Photoshop
                <div style="text-align: center; margin: 50px">
                  <img class="rcorners2" src="assets/images/poster-1.png" />
                </div>

                <!-- <div class="h5 mb-3">Advertisements & Promotions</div> -->
                <div style="text-align: center; margin: 50px">
                  <img class="rcorners2" src="assets/images/poster-2.png" />
                </div>
              </mat-expansion-panel>
            </mat-nav-list>

            <mat-nav-list>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <div class="three">
                    <h1>Illustrations</h1>
                  </div>
                </mat-expansion-panel-header>
                <p class="primary">
                  Designed using Illustratoon. There two tupes of illustration.
                  First is minimal illustraion later comes self portrait and
                  other detailed illustrations.
                </p>
                <!-- <strong>Software Used</strong>: Photoshop -->
                <div style="text-align: center; margin: 50px">
                  <img
                    class="rcorners3"
                    src="assets/images/illustrations-1.png"
                  />
                </div>

                <!-- <div class="h5 mb-3">Advertisements & Promotions</div> -->
                <div style="text-align: center; margin: 50px">
                  <img
                    class="rcorners2"
                    src="assets/images/illustrations-2.png"
                  />
                </div>

                <div style="text-align: center; margin: 50px">
                  <img
                    class="rcorners3"
                    src="assets/images/illustrations-3.png"
                  />
                </div>

                <div style="text-align: center; margin: 50px">
                  <img
                    class="rcorners3"
                    src="assets/images/illustrations-4.png"
                  />
                </div>
              </mat-expansion-panel>
            </mat-nav-list>

            <mat-nav-list>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <div class="three">
                    <h1>Day & Night</h1>
                  </div>
                </mat-expansion-panel-header>
                <p class="primary">
                  Converting day image into night using photoshop.
                </p>
                <strong>Software Used</strong>: Photoshop
                <div style="text-align: center; margin: 50px">
                  <img class="rcorners4" src="assets/images/day-night-1.png" />
                </div>

                <!-- <div class="h5 mb-3">Advertisements & Promotions</div> -->
                <div style="text-align: center; margin: 50px">
                  <img class="rcorners4" src="assets/images/day-night-2.png" />
                </div>
              </mat-expansion-panel>
            </mat-nav-list>

            <mat-nav-list>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <div class="three">
                    <h1>Logo Design</h1>
                  </div>
                </mat-expansion-panel-header>
                <p class="primary">Designed logo for a Chinese Restraunt.</p>
                <strong>Software Used</strong>: Adobe Illustrator
                <div style="text-align: center; margin: 50px">
                  <img class="rcorners1" src="assets/images/logo-1.png" />
                </div>
              </mat-expansion-panel>
            </mat-nav-list>

            <mat-nav-list>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <div class="three">
                    <h1>Drawing</h1>
                  </div>
                </mat-expansion-panel-header>
                <p class="primary">
                  Some of my hand drawn art works. Includes sketches, water
                  colour paintings, oil painting etc
                </p>
                <!-- <strong>Software Used</strong>: Adobe Illustrator -->
                <div style="text-align: center; margin: 50px">
                  <img class="rcorners1" src="assets/images/drawing-1.png" />
                </div>

                <div style="text-align: center; margin: 50px">
                  <img class="rcorners1" src="assets/images/drawing-2.png" />
                </div>

                <div style="text-align: center; margin: 50px">
                  <img class="rcorners1" src="assets/images/drawing-3.png" />
                </div>

                <div style="text-align: center; margin: 50px">
                  <img class="rcorners3" src="assets/images/drawing-4.png" />
                </div>
              </mat-expansion-panel>
            </mat-nav-list>

            <mat-nav-list>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <div class="three">
                    <h1>Video Editing</h1>
                  </div>
                </mat-expansion-panel-header>
                <p class="primary">
                  Created motion videos for advertisement and other purposes.
                </p>
                <strong>Software Used</strong>: Adobe After Effects

                <div style="text-align: center; margin: 50px">
                  <a
                    href="https://drive.google.com/file/d/1uBHvOD2k0tctXpSQacW-BFKX6doNQILS/view?usp=drive_link"
                    target="_blank"
                  >
                    <img class="rcorners1" src="assets/images/video-1.png" />
                  </a>
                </div>

                <div style="text-align: center; margin: 50px">
                  <a
                    href="https://drive.google.com/file/d/1IAgpFp2Fmxqh2LTtSvsQ8_ek56E3KTwm/view?usp=drive_link"
                    target="_blank"
                  >
                    <img class="rcorners1" src="assets/images/video-2.png" />
                  </a>
                </div>

                <div style="text-align: center; margin: 50px">
                  <a
                    href="https://drive.google.com/file/d/1z60S0Odf-kw03GcOCuovh9CMOMVe8pjl/view?usp=sharing"
                    target="_blank"
                  >
                    <img class="rcorners1" src="assets/images/video-3.png" />
                  </a>
                </div>

                <div style="text-align: center; margin: 50px">
                  <a
                    href="https://drive.google.com/file/d/1AcUKR9zIE9fDGXytejy1rcYt1HXH3cAW/view?usp=sharing"
                    target="_blank
                    "
                  >
                    <img class="rcorners3" src="assets/images/video-4.png" />
                  </a>
                </div>
              </mat-expansion-panel>
            </mat-nav-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
