<div class="section" id="publications">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Publications</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 "
          data-aos="fade-bottom"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">

            <a class="ml-3" target="_blank" href="https://play.google.com/store/apps/details?id=com.hostelmanager.quizhackk&hl=en_IN&gl=US">
                <img border="0" alt="QuizHacker" src="assets/images/quizhacker.png" width="200" height="200">
            </a>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h5 mb-3">QuizHacker</div>

            <!-- <h4 class="category">Avadh Collegiate</h4> -->

            <p align="justify">
              Built an Android App using Firebase tools which gives answers to
              question of trivia shows like Loco, BrainBaazi in real time during
              game play with ≈ <b> 90% </b>accuracy. This android app is available on
              play store with over <b> 1.3 Lakh + </b>downloads.
            </p>
           <b> Technologies used:</b> Java, Android, Firebase ML Kit, Firebase OCR.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
