.rcorners1 {
  border-radius: 10%;
  padding: 20px;
  width:100vh;
  height:70%
}





.rcorners2 {
  border-radius: 10%;
  padding: 20px;
  width:100vh;
  height:75%
}


.rcorners3 {
  border-radius: 10%;
  padding: 20px;
  width:100vh;
  height:60%
}

.rcorners4 {
  border-radius: 10%;
  padding: 20px;
  width:100vh;
  height:50%
}


.three h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-top: 20px;
  padding-bottom: 5px;
  position: relative;
}
// .three h1:before {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   height: 8px;
//   width: 55px;
//   background-color: #111;
// }
// .three h1:after {
//   content: "";
//   position: absolute;
//   left: 0;
//   bottom: 2px;
//   height: 1px;
//   width: 95%;
//   max-width: 255px;
//   background-color: #333;
// }
