<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2022-2023</p>
            <div class="h5">Graphic Design</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">
              Diploma In graphic designing and web development
            </div>
            <h4 class="category">LISAA School of Design Bangalore</h4>
            <ul>
              <!-- <li> R.V College Of Engineering(Affilated to U) <b>ranks 1st</b> in Karnataka </li> -->
              <!-- <li>Completed B.Com with <b>First Div</b>.</li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body cc-education-header">
            <p>2021-2023</p>
            <div class="h5">Masters Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="500"
        >
          <div class="card-body">
            <div class="h4">Masters In Commerce</div>
            <h4 class="category">Indira Gandhi National Open University</h4>
            <!-- <ul>
                                    <li>Completed  <b>12th</b> in <b> Science</b> with <b>88%</b> aggregate.</li>
                            </ul> -->
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div
          class="col-md-3 bg-primary"
          data-aos="fade-right"
          data-aos-offset="50"
          data-aos-duration="800"
        >
          <div class="card-body cc-education-header">
            <p>2017-2020</p>
            <div class="h5">Bachelors Degree</div>
          </div>
        </div>
        <div
          class="col-md-9"
          data-aos="fade-left"
          data-aos-offset="50"
          data-aos-duration="800"
        >
          <div class="card-body">
            <div class="h5">Bachelors In Commerce</div>

            <h4 class="category">Lucknow Univeristy</h4>
            <ul>
              <li>Completed <b>B.Com</b> with <b>First Div</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2008-2009</p>
                        <div class="h5">Sedcondary School</div>
                        </div>
                    </div> -->
    <!-- <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Sedcondary School(KSEEB)</div>
                                <h4 class="category">Sri Adhichunchanagiri English School Hassan</h4>
                                <ul>
                                        <li>Completed  SSLC with <b>65.6%</b>.</li>
                                </ul>
                        </div>
                    </div> -->
    <!-- </div>
            </div> -->
  </div>
</div>
