<div
  style="
    background-image: url(assets/images/sr-bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  "
  class="profile-page"
>
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="orange">
      <div
        class="page-header-image"
        data-parallax="true"
        style="background-image: url('assets/images/introduction.jpg')"
      ></div>
      <div class="container">
        <div class="content-center">
          <div class="profile-image">
            <a href="#">
              <img src="assets/images/shruti-photo-1.png" alt="Profile Image" />
            </a>
          </div>
          <div class="h2 title">Shruti Rai</div>
          <p class="category text-white">Graphic Designer</p>
          <a
            class="btn bg-primary smooth-scroll mr-2"
            href="#contact"
            data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor"
            >Hire Me</a
          >
          <a
            class="btn bg-primary"
            href="https://drive.google.com/file/d/1yE4KFU2wk1gbO-sU7m72XeMXxRO1Rmjr/view?usp=sharing"
            target="_blank"
            data-aos="zoom-in"
            data-aos-anchor="data-aos-anchor"
            >Download CV</a
          >
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="https://www.linkedin.com/in/shruti-rai-27090a1b0/"
              target="_blank"
              rel="tooltip"
              title="Follow me on Linkedin"
            >
              <img src="assets/images/linked.png" alt="LinkedIn" />
            </a>

            <!-- <a
              style="background-color: white"
              class="btn btn-default btn-round btn-lg btn-icon"
              href="https://github.com/vikas8452"
              target="_blank"
              rel="tooltip"
              title="Follow me on Github"
            >

              <img src="assets/images/github.png" alt="Github" />
            </a> -->

            <a
              class="btn btn-default btn-round btn-lg btn-icon"
              href="https://www.instagram.com/_____s.h.r.u.t.i_____/"
              target="_blank"
              rel="tooltip"
              title="Follow me on Instagram"
            >
              <!-- <i  class="fa fa-instagram"></i> -->
              <img src="assets/images/insta.png" alt="Instagram" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
